:root {
  --background: #ffffff;
  --foreground: #171717;
  font-family: "Inter";
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  padding: 0;
  margin: 0;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

h1,
h2,
h3 {
  font-family: "Spectral";
  margin: 0;
}

p {
  white-space: pre-wrap;
}