.imageGridContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
}

.imageContainer {
  position: relative;
  width: 80%;
  margin: auto;
}

.feedImage {
  border-radius: 20px;
  object-fit: cover;
  object-position: center;
}

.headerContainer {
  cursor: pointer;
  text-decoration: underline;
}

.headerContainer:hover {
  color: #7478E7;
}