.feedImageContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px
}

.feedImage {
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
}

.headerContainer {
  cursor: pointer;
}

.headerContainer:hover {
  color: #7478E7;
  text-decoration: underline;
}